html {
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  @apply bg-primary-light dark:bg-primary text-primary dark:text-white relative;
}

body.menu__open {
  overflow: hidden;
}