@media (min-width: 80rem) {
	.cursor {
		@apply bg-secondary/20;
		position: fixed;
		width: 40px;
		height: 40px;
		margin-left: -20px;
		margin-top: -20px;
		border-radius: 50%;
		transition: transform .3s ease;
		transform-origin: center center;
		pointer-events: none;
		z-index: 1000;

		&:not(.grow, .grow-small) {
			backdrop-filter: blur(5px);
		}
	}

	.grow,
	.grow-small {
		@apply bg-white;
		transform: scale(5);
		mix-blend-mode: difference;
		border: none;
	}

	.grow__project {
		backdrop-filter: blur(5px);
		mix-blend-mode: normal;

		display: grid;
		place-items: center;

		&::after {
			@apply text-secondary;
			content: 'Ir al proyecto';
			font-size: 0.25rem;
			z-index: 9999;
		}
	}

	.grow-small {
		transform: scale(2.5);
	}
}