.loader__wrapper {
	@apply text-primary dark:text-white bg-white dark:bg-primary;

	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 100;

	top: 0;
	right: 0;

	.counter__wrapper {
		margin-block-end: 6.25rem;
		overflow: hidden;
		position: relative;
	}

	.counter {
		font-size: calc(1rem + 19.5vw);
		font-weight: bold;
		font-weight: 600;
		white-space: nowrap;
		line-height: 1;
		opacity: 0.1;
	}
}

body:not(.loader__visible) {
	.counter__wrapper {
		&>.counter {
			transition: transform 2.3s cubic-bezier(0.2, 0.7, 0.2, 1);
			transform: translateY(100%);
		}
	}
}