.about {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.content__caption-marquee {
		top: 90px;
		left: -50px;
		rotate: 4deg;

		&_title {
			animation: textMarqueeToRight 3s linear infinite;
		}
	}
}

.about-content {
	flex: none;
	display: grid;
	place-items: center;
	line-height: 1.2;
	grid-template-areas: 'title' 'layout' '...';
	grid-template-rows: 3.5vw auto 3.5vw;
	gap: 1rem;
}

.about-content--intro {
	grid-area: intro;
}

.about-content__img-wrap {
	grid-area: layout;
}

.about-content__img {
	--img-width: 60vw;
	--img-height: 40vh;
	--img-ar: auto;
	--img-inner-margin-x: 0px;
	--img-inner-margin-y: 0px;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	width: var(--img-width);
	height: var(--img-height);
	aspect-ratio: var(--img-ar);
}

.about-content__img--1 {
	--img-width: 70vw;
	--img-height: auto;
	--img-ar: 16/8;
}

.about-content__img--2 {
	--img-width: 100vw;
	--img-height: 100vh;
}

.about-content__img--3 {
	--img-width: 100vw;
	--img-height: 200vh;
}

.about-content__img--4 {
	--img-width: 40vw;
	--img-height: auto;
	--img-ar: 0.8;
}

.about-content__img--5 {
	--img-width: 60vw;
	--img-height: auto;
	--img-ar: 1;
}

.about-content__img--6 {
	--img-width: 70vw;
	--img-height: auto;
	--img-ar: 16/8;
}

.about-content__img-inner {
	grid-area: 1 / -1;
	width: calc(100% + var(--img-inner-margin-x) * 2);
	height: calc(100% + var(--img-inner-margin-y) * 2);
	background-size: cover;
	background-position: 50% 50%;
}

.about-content__img-inner--hidden {
	opacity: 0;
}

.about-content__text {
	font-family: 'AlphaLyrae', sans-serif;
	position: relative;
	z-index: 100;
	grid-area: title;
	text-transform: uppercase;
	font-size: clamp(2rem, 6vw, 4rem);
	margin: 0;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	line-height: 0.8;
	font-family: 'AlphaLyrae', sans-serif;
}

.about-content__text span span {
	display: inline-block;
}

.about-content__text span span.whitespace {
	white-space: pre;
}

.about-content__text span:nth-child(3n) {
	font-feature-settings: 'ss01' 1;
}

.about-content__text--large {
	font-size: clamp(2rem, 7vw, 6rem);
}

.about-content__text--center {
	text-align: center;
	align-self: stretch;
	justify-about-content: space-between;
	grid-row: 1 / span 3;
}

.about-content__text--left {
	justify-self: start;
	padding: 3rem;
	grid-area: layout;
	align-self: center;
}

.about-content__text-tiny {
	text-transform: none;
	font-family: 'Tenon', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	max-width: 400px;
	line-height: 1.2;
	margin-top: 10vh;
}