.projects {
	@apply bg-primary-light dark:bg-primary;
	overflow: hidden;
	position: relative;
	padding: 2vh 13.25vw 2.5rem;
	z-index: 1;

	.content__caption-marquee {
		@apply bg-primary dark:bg-white;
		position: absolute;
		display: flex;
		align-items: center;
		top: -50px;
		left: -70px;
		pointer-events: none;
		rotate: -4deg;

		&_title {
			@apply text-white dark:text-primary;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			font-size: calc(1rem + 6.5vw);
			font-weight: bold;
			font-weight: 600;
			line-height: 1.3;

			span,
			svg {
				white-space: nowrap;
				margin-right: 20px;
			}

			svg {
				height: 6.25rem;
				width: 6.25rem;

				path {
					@apply stroke-white dark:stroke-primary;
				}
			}

		}
	}

}

@media screen and (min-width: 53em) {
	.projects {
		padding-top: 45vh;
	}

	.projects .project__image {
		grid-column: 2 / span 2;
	}
}

.project {
	grid-gap: 5vh;
	grid-template-columns: 100%;
	align-content: center;
	justify-content: center;
	display: grid;
	grid-template-areas: 'caption' 'img';
	margin: 0 auto 15vh;
}

@media screen and (min-width: 53em) {
	.project {
		grid-gap: 1vw;
		grid-template-columns: 25vw 1fr;
		grid-template-areas: 'caption img';
		margin: 0 auto 20vh;
	}
}

.project__image-wrap {
	grid-area: img;
	width: 100%;
	aspect-ratio: 800/500;
	justify-self: center;
}

.project__image {
	width: 100%;
	aspect-ratio: 800/500;
	position: relative;
	overflow: hidden;
	will-change: transform;
}

.project__image-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
}

.project__caption {
	grid-area: caption;
	position: relative;
	z-index: 10;
}

.project__caption-title {
	@apply text-secondary;
	white-space: nowrap;
	width: min-content;
	line-height: 1.2;
	font-size: clamp(2rem, 6vw, 3.5rem);
	font-weight: 600;
	margin: 0;
	position: relative;
}

.project__inner {
	will-change: transform;
	display: inline-block;
}

.project__caption-description {
	@apply font-poppins;
	max-width: 250px;
	line-height: 1.2;
}

.project__technologies {
	font-weight: 600;
	font-size: 2rem;
	opacity: .3;
	overflow: hidden
}

.project__technologies>div {
	display: flex;
	gap: 1.2vw;
	will-change: transform;
}

.project__technologies span.separator {
	@apply text-secondary leading-loose;
}
