.projects {
	overflow: hidden;
	position: relative;
	padding: 2vh 13.25vw 2.5rem;
	z-index: 1;

	.content__caption-marquee {
		top: 80px;
		left: -15px;
		rotate: -4deg;
	}

}

@media screen and (min-width: 53em) {
	.projects {
		padding-top: 45vh;
	}

	.projects .project__image {
		grid-column: 2 / span 2;
	}
}

.project {
	grid-gap: 5vh;
	grid-template-columns: 100%;
	align-content: center;
	justify-content: center;
	display: grid;
	grid-template-areas: 'caption' 'img';
	margin: 0 auto 15vh;
}

@media screen and (min-width: 53em) {
	.project {
		grid-gap: 1vw;
		grid-template-columns: 25vw 1fr;
		grid-template-areas: 'caption img';
		margin: 0 auto 20vh;
	}
}

.project__image-wrap {
	grid-area: img;
	width: 100%;
	aspect-ratio: 800/500;
	justify-self: center;
}

.project__image {
	width: 100%;
	aspect-ratio: 800/500;
	position: relative;
	overflow: hidden;
	will-change: transform;
}

.project__image-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
}

.project__caption {
	grid-area: caption;
	position: relative;
	z-index: 10;
}

.project__caption-title {
	@apply text-secondary;
	white-space: nowrap;
	width: min-content;
	line-height: 1.2;
	font-size: clamp(2rem, 6vw, 3.5rem);
	font-weight: 600;
	margin: 0;
	position: relative;
}

.project__inner {
	will-change: transform;
	display: inline-block;
}

.project__caption-description {
	@apply font-poppins;
	max-width: 250px;
	line-height: 1.2;
}

.project__technologies {
	font-weight: 600;
	font-size: 2rem;
	opacity: .3;
	overflow: hidden
}

.project__technologies>div {
	display: flex;
	gap: 1.2vw;
	will-change: transform;
}

.project__technologies span.separator {
	@apply text-secondary leading-loose;
}

/* -------------------------------------------------------------------------- */
/*                               Design Gallery                               */
/* -------------------------------------------------------------------------- */

.designs-wrapper {
	display: flex;
	padding: 15vh 12vw 20vh 20vw;
	margin-left: 5vw;
}

.design__item {
	margin: 0 3vw;
	display: grid;
	grid-template-areas: '... ...'
		'... design-image'
		'... ...';
	grid-template-columns: 8rem 21vmax;
	grid-template-rows: 8rem 28vmax 3rem;
}

.design__item-img {
	grid-area: design-image;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	will-change: transform;
}

.design__item-imginner {
	background-size: cover;
	background-position: 50% 0;
	width: calc(100% + 10vw);
	margin-left: -5vw;
	height: 100%;
	will-change: transform;
}

.design__item-caption {
	grid-area: 1 / 1 / 4 / 3;
	display: grid;
	grid-template-areas: 'design-number design-title'
		'design-link ...'
		'design-tags design-tags';
	grid-template-columns: 8rem auto;
	grid-template-rows: 8rem auto 3rem;

}

.design__item-number {
	grid-area: design-number;
	font-size: 6rem;
	font-size: clamp(2.5rem, 9vw, 6.5rem);
	justify-self: end;
	padding-right: 2rem;
	color: var(--color-design-number);
}

.design__item-title {
	@apply text-secondary;
	grid-area: design-title;
	margin: 0;
	font-size: 4rem;
	font-size: clamp(2rem, 5vw, 2.2rem);
	margin-block-end: .625rem;
}

.design__item-number,
.design__item-title,
.design__text {
	font-weight: 800;
	align-self: end;
}

.design__item-tags {
	grid-area: design-tags;
	justify-self: end;
	font-size: 1.5rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	cursor: pointer;
}

.design__text {
	font-size: 20vw;
	line-height: 0.8;
	margin: 0 12vw;
	text-transform: lowercase;
	color: transparent;
	-webkit-text-stroke: 1px #645c5b;
	text-stroke: 1px #645c5b;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

.design__text-inner {
	display: block;
}